{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="ui  two column grid" style="margin-top: 60px">
    <div class="ui five centered wide column " style="
    border: 0px black solid;
  ">  
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change ui form">
        {% csrf_token %}
        <!-- <div class="ui grid column">
            <div class="ui five centered wide field"> -->
                {{ form|crispy }}

            <!-- </div>
        </div> -->
        <button class="ui button primary" type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
    </div>
{% endblock %}
