{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
            <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    </head>
    <body>
        <main>
            <div class="ui two column grid">
                <div class="row ">
                    <div id="side" class="four wide column blue">
                        <div class=" ui centered text avantar">
                            <img class="ui small circular centered image" id="image-profile" src="{% static 'images/profile.jpg' %}">
                            <p class = "name-profile">Josuebatey19@gmail.com</p>
                        </div>
                        <nav>
                            <div class="ui list">
                                <a id="nav-link" class="" href="{% url 'certification:dashboard'%}">
                                    <div class="item" style="">
                                    <i class="home icon" style="font-size:20px"></i>
                                    <div class="content" style="">
                                        Home
                                    </div>
                                    </div>
                                </a>
                                <a id="nav-link" class="" href="{% url 'certification:add-couple'%}">
                                  <div class="item">
                                      <i class="users icon" style="font-size:20px"></i> 
                                      <div class="content " style="">
                                        Add Couple Information
                                      </div>
                                  </div>
                                </a>
                                <a id="nav-link" class="" href="{% url 'certification:add-wed'%}">
                                    <div class="item">
                                        <i class="heart slash icon" style="font-size:20px"></i>
                                        <div class="content" style="">
                                            Wedding Certification
                                        </div>
                                    </div>
                                </a>
                                <a id="nav-link" class="" href="{% url 'certification:add-divorse'%}">
                                    <div class="item">
                                        <i class="home icon" style="font-size:20px"></i>
                                        <div class="content" style="">
                                            Divorse Certification
                                        </div>
                                    </div>
                                </a>
                                <a id="nav-link" class="" href="{% url 'certification:add-couple'%}">
                                    <div class="item">
                                        <i class="cog icon" style="font-size:20px"></i>
                                        <div class="content" style="">
                                            Profile
                                        </div>
                                    </div>
                                </a>
                                <a id="nav-link" class="" href="{% url 'account_logout'%}">
                                    <div class="item">
                                        <i class="power off icon" style="font-size:20px; "></i>
                                        <div class="content" style="">
                                            Logout
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </nav>
                        
                    </div>
                    <div id="main" class="ui container twelve wide column ">
                      {% block content %}
                      {% endblock %}
                    </div>
                </div>
            </div>
                  </main>
    </body>
</html>
