{% extends 'partiel/base-dash.html' %}
{% load static %}
{% block content%}
    <div>
        <h3 class="ui" style="background: rgb(13, 156, 234);padding:10px 20px;color: rgb(239, 236, 236);"> Divorse Information</h3>
       <form class="ui form" action="" method="post" style="margin-bottom:340px;">
           {% csrf_token %}
           <div class="ui   column grid" >
                <div class="ui  column ">
                    {{divorse}}
                </div>
           </div>
           <br>
           <div>
               <input class="ui small  fluid  button blue" type="submit" value="Submit">
           </div>
       </form>
    </div>
{% endblock %}