{% extends 'partiel/base-dash.html' %}
{% load static %}
{% block content%}
    <div>
        <h3 class="ui" style="background: rgb(13, 156, 234);padding:10px 20px;color: rgb(239, 236, 236);"> Wed Information</h3>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form class="ui form" action="" method="post" style="margin-bottom:110px;">
           {% csrf_token %}
           <div class="ui   column grid" >
                <div class="ui  column ">
                    {{wed}}
                </div>
           </div>
           <br>
           <div>
               <input class="ui small  fluid  button blue" type="submit" value="Submit">
           </div>
       </form>
    </div>
{% endblock %}