{% extends 'partiel/base-dash.html'%}
{% load static %}
{% block content %}
<style>
</style>
    <div class="stat ui container"> 
        <div class="ui statistics ">
            <div class="statistic">
              <div class="value">
                {{wed_count}}
              </div>
              <div class="label">
                Weddings
              </div>
            </div>
            <div class="statistic">
              <div class=" value">
                {{couple_count}}
              </div>
              <div class="label">
                Couples
              </div>
            </div>
            <div class="statistic">
              <div class="value">
                <i class="heart icon pink" ></i> {{divorse_count}}
              </div>
              <div class="label">
                Divorse
              </div>
            </div>
            <div class="statistic">
              <div class="value">
                <img src="/images/avatar/small/joe.jpg" class="ui circular inline image">
                {{user_count}}
              </div>
              <div class="label">
                Team Members
              </div>
            </div>
          </div>
    </div>
    <hr style="margin-bottom: 15px;">
    <div class="ui container table-wed">
        <h3>
            Weddings Data:
        </h3>
        <div class="ui loading search">
          <form action="" method="GET" class="ui form" >
            <div class="two fields">
                <div class="sixteen wide field" style="display: flex !important; 
                margin:0px 10px; align-items: center !important;
                align-content: space-between !important; ;
                " >
                  {{wed_filter.form}}
                </div>
                <div class="five small field">
                    <input type="submit" value="Search" class="ui button primary" style="">
                </div>
            </div>
          </form>
          <div class="results"></div>
        </div>
        <table class="ui compact celled definition table">
            <thead>
              <tr>
                <th>Wed Matrices</th>
                <th>Couple</th>
                <th>Divorsed</th>
                <th>Registered</th>
                <th>Payment</th>
                <th>Reports</th>
              </tr>
            </thead>
            <tbody>
                {% for weds in wed_filter.qs %}
                    <tr>
                            <td>{{weds.wed_matricule}}</td>
                            <td>{{weds.couple}}</td>
                            <td>{{weds.is_divorsed}}</td>   
                            <td>{{weds.created_at}}</td> 
                            <td>{{weds.payment}}</td>  
                            <td>
                                <a href="dash/certificate/{{weds.wed_matricule}}"><i class="icon red print" style="font-size: 18px;"></i>Print</a> 
                            </td>
                    </tr>    
                    {% empty %}
                    <tr>
                        <th colspan="5">
                            <div class="ui icon message">
                                <i class="notched circle loading icon"></i>
                                <div class="content">
                                  <div class="header">
                                    No Data Found Yet...
                                  </div>
                                  <p>We're fetching that content for you.</p>
                                </div>
                              </div>
                        </th>
                    </tr>          
                {% endfor %}
            </tbody>
            <tfoot class="full-width">
              <tr>
                <th></th>
                <th colspan="5">
                  <div class="ui right floated small blue labeled icon button">
                    <i class="user icon"></i> Register Wedding
                  </div>
                </th>
              </tr>
              <tr><th colspan="5">
                <div class="ui right floated pagination menu">
                  <a class="icon item">
                    <i class="left chevron icon"></i>
                  </a>
                  <a class="item">1</a>
                  <a class="item">2</a>
                  <a class="item">3</a>
                  <a class="item">4</a>
                  <a class="icon item">
                    <i class="right chevron icon"></i>
                  </a>
                </div>
              </th>
            </tr>
            </tfoot>
          </table>
    </div>
    <div class="ui divider"></div>
    <div class="table-Couple">
        <h3>
            Couple Data:
        </h3>
        <div class="ui loading search">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search Couple">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
        <table class="ui compact celled definition table">
            <thead>
              <tr>
                <th>National ID</th>
                <th>Full Name</th>
                <th>DoB</th>
                <th>Phone</th>
                <th>Mail</th>
                <th>Photo</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
                {% for couples in couple %}
                    <tr>
                        <!-- <td class="collapsing">
                        <div class="ui fitted slider checkbox">
                            <input type="checkbox"> <label></label>
                        </div>
                        </td> -->
                        <td>{{couples.groom_Nat_ID}}/{{couples.bride_Nat_ID}}</td>
                        <td>{{couples.groom_full_name}}/{{couples.bride_full_name}}</td>
                        <td>{{couples.groom_dob|timesince}}/{{couples.bride_dob|timesince}}</td>
                        <td>{{couples.groom_phone}}/{{couples.bride_phone}}</td>
                        <td>{{couples.groom_mail|truncatechars:10}}/{{couples.bride_mail|truncatechars:10}}</td>
                        {% if couples.groom_photo.url and couples.bride_photo.url %}
                            <td><img class="ui avatar image" src="{{couples.groom_photo.url}}" alt="">/<img class="ui avatar image" src="{{couples.bride_photo.url}}" alt=""></td>
                        {% else %}
                            <td><img class="ui avatar image" src="{% static 'images/user.png'%}" alt="">/<img class="ui avatar image" src="{% static 'images/user.png'%}" alt=""></td>
                        {% endif %}
                        <td>{{couples.groom_status}}/{{couples.bride_status}}</td>
                    </tr>  
                    {% empty %}
                    <tr>
                        <th colspan="5">
                            <div class="ui icon message">
                                <i class="notched circle loading icon"></i>
                                <div class="content">
                                    <div class="header">
                                    No Data Found Yet...
                                    </div>
                                    <p>We're fetching that content for you.</p>
                                </div>
                                </div>
                        </th>
                    </tr>           
                {% endfor %}
            </tbody>
            <tfoot class="full-width">
                <tr>
                <th></th>
                <th colspan="7">
                    <div class="ui right floated small blue labeled icon button">
                    <i class="user icon"></i> Register  Couples
                    </div>
                </th>
                </tr>
            </tr>
            </tfoot>
            </table>
    </div>
    <div class="ui divider"></div>
    <div class="table-divorse">
        <h3>
            Divorce Data:
        </h3>
        <div class="ui loading search">
            <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search Divorce">
            <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
        <table class="ui compact celled definition table">
            <thead>
                <tr>
                <th>Divorce Matricule</th>
                <th>Wedding Matricule</th>
                <th>Sentence</th>
                <th>Magistrate</th>
                <th>Created Date</th>
                <th>Certificate</th>
                </tr>
            </thead>
            <tbody>
                {% for divorses in divorse %}
                    <tr>
                        <td>{{divorses.divorse_matricule}}</td>
                        <td>{{divorses.wed}}</td>
                        <td>{{divorses.sentence}}</td>
                        <td>{{divorses.magistrate}}</td>
                        <td>{{divorses.created_at}}</td>
                        <td><i class="icon red print" style="font-size: 18px;"></i>Print</td>  
                    </tr>
                    {% empty %}
                        <tr>
                            <th colspan="5">
                                <div class="ui icon message">
                                    <i class="notched circle loading icon"></i>
                                    <div class="content">
                                        <div class="header">
                                        No Data Found Yet...
                                        </div>
                                        <p>We're fetching that content for you.</p>
                                    </div>
                                    </div>
                            </th>
                        </tr>
                    {% endfor %}
                <tr>
                </tr>
            </tbody>
            <tfoot class="full-width">
                <tr>
                <th></th>
                <th colspan="5">
                    <div class="ui right floated tiny blue labeled icon button">
                    <i class="user icon"></i> <a class="ui  blue label" href="{% url 'certification:add-divorse'%}">Register Divorse</a> 
                    </div>
                </th>
                </tr>
            </tfoot>
            </table>
    </div>
{% endblock %}