{% extends 'partiel/base-dash.html'%}
{% load static %}
{% block content %}
<style>
    .row #side{

    }
</style>
   
    <div class="stat"> 
        <div class="ui statistics ">
            <div class="statistic">
              <div class="value">
                22
              </div>
              <div class="label">
                Weddings
              </div>
            </div>
            <div class="statistic">
              <div class="text value">
                Three<br>
                Thousand
              </div>
              <div class="label">
                Couples
              </div>
            </div>
            <div class="statistic">
              <div class="value">
                <i class="plane icon"></i> 5
              </div>
              <div class="label">
                Divorse
              </div>
            </div>
            <div class="statistic">
              <div class="value">
                <img src="/images/avatar/small/joe.jpg" class="ui circular inline image">
                42
              </div>
              <div class="label">
                Team Members
              </div>
            </div>
          </div>
    </div>
{% endblock %}