{% extends 'partiel/base-dash.html'%}
{% load static %}
{% block content %}
<style>
    .row #side{

    }
</style>
   
    <div class="stat ui container"> 
        <div class="ui statistics ">
            <div class="statistic">
              <div class="value">
                {{wed_count}}
              </div>
              <div class="label">
                Weddings
              </div>
            </div>
            <div class="statistic">
              <div class=" value">
                {{couple_count}}
              </div>
              <div class="label">
                Couples
              </div>
            </div>
            <div class="statistic">
              <div class="value">
                <i class="plane icon"></i> {{divorse_count}}
              </div>
              <div class="label">
                Divorse
              </div>
            </div>
            <div class="statistic">
              <div class="value">
                <img src="/images/avatar/small/joe.jpg" class="ui circular inline image">
                42
              </div>
              <div class="label">
                Team Members
              </div>
            </div>
          </div>
    </div>
    <hr style="margin-bottom: 15px;">
    <div class="ui container table-wed">
        <h3>
            Weddings Data:
        </h3>
        <table class="ui compact celled definition table">
            <thead>
              <tr>
                <th>Wed Matrices</th>
                <th>Bride</th>
                <th>Groom</th>
                <th>Divorsed</th>
                <th>Registered</th>
                <th>Reports</th>
              </tr>
            </thead>
            <tbody>
                {% for weds in wed %}
                    <tr>
                        <!-- <td class="collapsing">
                        <div class="ui fitted slider checkbox">
                            <input type="checkbox"> <label></label>
                        </div>
                        </td> -->
                        <td>{{weds.wed_matricule}}</td>
                        <td>{{weds.bride}}</td>
                        <td>{{weds.groom}}</td>
                        <td>{{weds.is_divorsed}}</td>   
                        <td>{{weds.created_at}}</td> 
                        <td><i class="icon red print" style="font-size: 18px;"></i>Print</td>              
                    </tr>    
                    {% empty %}
                    <tr>
                        <th colspan="5">
                            <div class="ui icon message">
                                <i class="notched circle loading icon"></i>
                                <div class="content">
                                  <div class="header">
                                    No Data Found Yet...
                                  </div>
                                  <p>We're fetching that content for you.</p>
                                </div>
                              </div>
                        </th>
                    </tr>          
                {% endfor %}
            </tbody>
            <tfoot class="full-width">
              <tr>
                <th></th>
                <th colspan="5">
                  <div class="ui right floated small blue labeled icon button">
                    <i class="user icon"></i> Register Wedding
                  </div>
                  <div class="ui small button">
                    Approve
                  </div>
                  <div class="ui small  disabled button">
                    Approve All
                  </div>
                </th>
              </tr>
              <tr><th colspan="5">
                <div class="ui right floated pagination menu">
                  <a class="icon item">
                    <i class="left chevron icon"></i>
                  </a>
                  <a class="item">1</a>
                  <a class="item">2</a>
                  <a class="item">3</a>
                  <a class="item">4</a>
                  <a class="icon item">
                    <i class="right chevron icon"></i>
                  </a>
                </div>
              </th>
            </tr>
            </tfoot>
          </table>
    </div>
    <div class="table-Couple">
        <h3>
            Couple Data:
        </h3>
        <table class="ui compact celled definition table">
            <thead>
              <tr>
                <th>National ID</th>
                <th>Full Name</th>
                <th>DoB</th>
                <th>Phone</th>
                <th>Mail</th>
                <th>Photo</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
                {% for couples in couple %}
                    <tr>
                        <!-- <td class="collapsing">
                        <div class="ui fitted slider checkbox">
                            <input type="checkbox"> <label></label>
                        </div>
                        </td> -->
                        <td>{{couples.Nat_ID}}</td>
                        <td>{{couples.full_name}}</td>
                        <td>{{couples.dob|timesince}}</td>
                        <td>{{couples.phone}}</td>
                        <td>{{couples.mail}}</td>
                        <td><img class="ui avatar image" src="{{couples.photo.url}}" alt=""></td>
                        <td>{{couples.status}}</td>
                    </tr>  
                    {% empty %}
                    <tr>
                        <th colspan="5">
                            <div class="ui icon message">
                                <i class="notched circle loading icon"></i>
                                <div class="content">
                                  <div class="header">
                                    No Data Found Yet...
                                  </div>
                                  <p>We're fetching that content for you.</p>
                                </div>
                              </div>
                        </th>
                    </tr>           
                {% endfor %}
            </tbody>
            <tfoot class="full-width">
              <tr>
                <th></th>
                <th colspan="7">
                  <div class="ui right floated small blue labeled icon button">
                    <i class="user icon"></i> Register  Couples
                  </div>
                  <div class="ui small button">
                    Approve
                  </div>
                  <div class="ui small  disabled button">
                    Approve All
                  </div>
                </th>
              </tr>
              <tr><th colspan="7">
                <div class="ui right floated pagination menu">
                  <a class="icon item">
                    <i class="left chevron icon"></i>
                  </a>
                  <a class="item">1</a>
                  <a class="item">2</a>
                  <a class="item">3</a>
                  <a class="item">4</a>
                  <a class="icon item">
                    <i class="right chevron icon"></i>
                  </a>
                </div>
              </th>
            </tr>
            </tfoot>
          </table>
    </div>
    <div class="table-divorse">
        <h3>
            Divorse Data:
        </h3>
        <table class="ui compact celled definition table">
            <thead>
              <tr>
                <th>Divorse Matricule</th>
                <th>Wedding Matricule</th>
                <th>Sentence</th>
                <th>Created Date</th>
                <th>Certificate</th>
              </tr>
            </thead>
            <tbody>
                {% for divorses in divorse %}
                    <tr>
                        <!-- <td class="collapsing">
                        <div class="ui fitted slider checkbox">
                            <input type="checkbox"> <label></label>
                        </div>
                        </td> -->
                        <td>{{divorses.divorse_matricule}}</td>
                        <td>{{divorses.wed}}</td>
                        <td>{{divorses.sentence}}</td>
                        <td>{{divorses.created_at}}</td>
                        <td><i class="icon red print" style="font-size: 18px;"></i>Print</td>  
                    </tr>
                    {% empty %}
                    <tr>
                        <th colspan="5">
                            <div class="ui icon message">
                                <i class="notched circle loading icon"></i>
                                <div class="content">
                                  <div class="header">
                                    No Data Found Yet...
                                  </div>
                                  <p>We're fetching that content for you.</p>
                                </div>
                              </div>
                        </th>
                    </tr>
                {% endfor %}
              <tr>
                <!-- <td class="collapsing">
                  <div class="ui fitted slider checkbox">
                    <input type="checkbox"> <label></label>
                  </div>
                </td> -->
              </tr>
              
              
            </tbody>
            <tfoot class="full-width">
              <tr>
                <th></th>
                <th colspan="4">
                  <div class="ui right floated small blue labeled icon button">
                    <i class="user icon"></i> Register Wedding
                  </div>
                  <div class="ui small button">
                    Approve
                  </div>
                  <div class="ui small  disabled button">
                    Approve All
                  </div>
                </th>
              </tr>
              <tr><th colspan="4">
                <div class="ui right floated pagination menu">
                  <a class="icon item">
                    <i class="left chevron icon"></i>
                  </a>
                  <a class="item">1</a>
                  <a class="item">2</a>
                  <a class="item">3</a>
                  <a class="item">4</a>
                  <a class="icon item">
                    <i class="right chevron icon"></i>
                  </a>
                </div>
              </th>
            </tr>
            </tfoot>
          </table>
    </div>
{% endblock %}