{% extends 'base.html' %}
{% block content %}
   

  
      <div class="ui text container">
        <h1 class="ui inverted header">
          Online Wedding and divorse Certification
        </h1>
        <h2>Simple way to get you certificate</h2>
        <div class="ui huge blue button"> 
          <a href="{% url 'certification:search' %}" style="color: white;">Find your Certificate Now
            <i class="right arrow icon" style="color: white; margin-left: 10px"></i>
          </a> 
        </div>
      </div>
  
    </div>
  
    <div class="index-main">
      <div class="product-category">
        
      </div>
    </div>
  
    
{% endblock %}